.gugi-regular {
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.green{
  background-color: #002D72;
}
.green:hover{
  background-color: #002D72;
}
.blueFont{
  color:#002D72
}

.creatPageItem{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.creatPageText{
  margin-right: 10px;
}

.inputCard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  font-size: 14px;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.information{
  margin-top: 10px;
  display: flex;
}

.infoTitle{
  margin-top:20px;
  margin-left:25px;
  font-size: 18px;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  font-size: 14px;
}

.info div:nth-child(2){
  margin-right:30px;
}

.infotype{
  color: #002D72;
  margin-left: 10px;
}

.infoName{
  font-size: 15px;
}

.optionCard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.infoText{
  font-size:15px; 
  margin-bottom:10px; 
  margin-left:10px
}

.infoIcon{
  margin-bottom:10px;
}

.introInfo{
  margin-bottom:10px;
}
.combine-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 20px;
}

.combine{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.list_wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.contractButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.checkContainer{
  display:flex;
  gap: 20px;
  align-items: stretch;
}

.groupLeft, .groupRight{
  display:flex;
  flex-direction:column;
}
.formGroupRight{
  display:flex;
  flex-direction: column;
  gap:10px;
}

.groupLeft{
  flex: 1;
  float: left;
}

.groupRight{
  flex: 1;
  float: left;
  gap: 10px;
}

.radioCheck{
  gap: 10px;
  padding: 15px;
  padding-left: 20px;
  flex: 1;
}

.formControl{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
}
.modalSize .modal-body{
  max-height: 300px;
}