html,
body {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
}

#root{
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
}
  