.Home{
    margin: 50px;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.Home .header {
    margin: 50px;
    flex: 1;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}

.Home .search_wrapper {
    width: 75%;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
}

.Home .searchbar {
    flex: 1;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #1F93FF;
    border-radius: 5px;
    padding: 15px;
}

.Home .list_wrapper {
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 10%;
    justify-content: flex-start;
}

.Home .button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #1F93FF;
    color: white;
    border-radius: 5px;
}
